.clickable {
  @apply cursor-pointer font-medium;

  &.active {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: theme("colors.blue.600");
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
  }
}

.imageContainer > div {
  min-width: 100%;
}

.shadow-light {
  box-shadow: 0 0 10px 1px rgba(14, 165, 233, 0.5);
}

.shadow-light-focusable {
  box-shadow: 0 0 8px 0.6px rgba(14, 165, 233, 0.5);
  &:focus {
    box-shadow: 0 2px 8px 1.8px rgba(154, 187, 202, 0.5);
  }
}

.shadow-error {
  box-shadow: 0 0 8px 0.6px rgba(248, 113, 113);
}

.shadow-medium {
  box-shadow: 0 0 6px 2px rgba(56, 69, 75, 0.5);
}

.shadow-strong {
  box-shadow: 0 0 4px 8px rgba(14, 165, 233, 0.5);
}

.drop-shadow-random {
  filter: drop-shadow(0 0 2.5px var(--color2));
}

.shadow-light-random {
  box-shadow: 0 0 9px 0.3px var(--color2);
}

.img-background {
  background: linear-gradient(to bottom right, var(--color1), var(--color2));
}

#imageWrapper div {
  position: inherit !important;
  height: 100% !important;
  & img {
    position: inherit !important;
    height: auto !important;
  }
}
