:root {
  --black: #0f1115;
  --white: #fff;
}
.dark {
  --black: #fff;
  --white: #0f1115;
}

.clickable {
  @apply cursor-pointer font-medium;

  &.active {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: theme("colors.blue.600");
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
  }
}

.imageContainer > div {
  min-width: 100%;
}

.shadow-light {
  box-shadow: 0 0 10px 1px rgba(14, 165, 233, 0.5);
}

.shadow-light-focusable {
  box-shadow: 0 0 8px 0.6px rgba(14, 165, 233, 0.5);
  &:focus {
    box-shadow: 0 2px 8px 1.8px rgba(154, 187, 202, 0.5);
  }
}

.shadow-error {
  box-shadow: 0 0 8px 0.6px rgba(248, 113, 113);
}

.shadow-error-strong {
  box-shadow: 0 0 12px 2px rgba(248, 113, 113);
}

.shadow-medium {
  box-shadow: 0 0 6px 2px rgba(56, 69, 75, 0.5);
}

.shadow-strong {
  box-shadow: 0 0 4px 8px rgba(14, 165, 233, 0.5);
}

.shadow-base {
  box-shadow: 1px 4px 6px -1px rgba(0, 0, 0, 0.13),
    0.5px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.drop-shadow-random {
  filter: drop-shadow(0 0 2.5px var(--color2));
}

.drop-shadow-random-strong {
  filter: drop-shadow(0 0 30px var(--color2));
}

.shadow-light-random {
  box-shadow: 0 0 9px 0.3px var(--color2);
}

.shadow-medium-random {
  box-shadow: 3px 3px 8px 0.6px var(--darkColor1);
  &:hover {
    box-shadow: 0px 0px 6px 1px var(--darkColor2);
  }
}

.dark .shadow-medium-random {
  box-shadow: 3px 3px 8px 0.6px var(--color1);
  &:hover {
    box-shadow: 0px 0px 6px 1px var(--color2);
  }
}

.img-background {
  background: linear-gradient(to bottom right, var(--color1), var(--color2));
}

.background-modal {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, white 1px);
  background-size: 4px 4px;
  backdrop-filter: brightness(100%) blur(3px);
}

.dark .background-modal {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, black 1px);
}

.group-cart-el {
  @apply transition-transform duration-150 transform;
}

.group-cart:hover .group-cart-el {
  @apply -rotate-20;
}

// .description {
//   h1 {
//     @apply text-2xl pb-2 font-medium;
//     @screen md {
//       @apply text-3xl;
//     }
//   }

//   p {
//     margin-block-end: 0.75rem;
//   }

//   a {
//     text-decoration-line: underline;
//     text-decoration-style: solid;
//     text-decoration-color: theme("colors.blue.600");
//     text-decoration-thickness: 2px;
//     text-underline-offset: 1px;
//     &.secondary {
//       @apply hover:text-yellow-400;
//       text-decoration-color: theme("colors.yellow.400");
//     }
//   }

//   &.prose {
//     a {
//       @apply hover:text-blue-600;
//       transition-duration: 0ms !important;
//       &.secondary {
//         @apply hover:text-yellow-400;
//         text-decoration-color: theme("colors.yellow.400");
//       }
//     }
//     blockquote {
//       p {
//         &:first-of-type::before,
//         &:last-of-type::after {
//           content: none;
//         }
//       }
//     }
//     img {
//       @apply overflow-hidden rounded-lg shadow-xl mx-auto;
//     }
//     .twitter-tweet {
//       @apply mx-auto py-4;
//     }
//     pre code {
//       .token.comment,
//       .token.prolog,
//       .token.doctype,
//       .token.cdata {
//         @apply text-gray-500;
//       }

//       .token.punctuation {
//         @apply text-gray-300;
//       }

//       .token.property,
//       .token.keyword,
//       .token.tag {
//         @apply text-indigo-300;
//       }

//       .token.class-name {
//         @apply text-yellow-200;
//         text-decoration: underline;
//       }

//       .token.boolean,
//       .token.constant {
//         @apply text-green-200;
//       }

//       .token.symbol,
//       .token.deleted {
//         @apply text-red-600;
//       }

//       .token.number {
//         @apply text-purple-300;
//       }

//       .token.selector,
//       .token.attr-name,
//       .token.string,
//       .token.char,
//       .token.builtin,
//       .token.inserted {
//         @apply text-green-300;
//       }

//       .token.variable {
//         @apply text-indigo-300;
//       }

//       .token.operator {
//         @apply text-red-300;
//       }

//       .token.entity {
//         @apply text-yellow-200;
//         cursor: help;
//       }

//       .token.url {
//         @apply text-indigo-300;
//       }

//       .language-css .token.string,
//       .style .token.string {
//         @apply text-green-200;
//       }

//       .token.atrule,
//       .token.attr-value {
//         @apply text-yellow-200;
//       }

//       .token.function {
//         @apply text-yellow-300;
//       }

//       .token.regex {
//         @apply text-yellow-400;
//       }

//       .token.important {
//         @apply text-yellow-500;
//       }

//       .token.important,
//       .token.bold {
//         font-weight: bold;
//       }

//       .token.italic {
//         font-style: italic;
//       }
//     }
//   }
// }

// .dark {
//   .description {
//     a {
//       text-decoration-color: theme("colors.yellow.300");
//       &.secondary {
//         text-decoration-color: theme("colors.blue.500");
//       }
//     }
//   }
// }

.react-rotating-text-cursor {
  animation: blinking-cursor 1.1s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

#imageWrapper span {
  position: inherit !important;
  height: 100% !important;
  & img {
    position: inherit !important;
    height: auto !important;
  }
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes reverse-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes ping-slow {
  75%,
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
